* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: verdana;
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f2f2f2;

  z-index: 9999;
  top: 0;
  left: 0;
}

.logo {
  padding: 1vh;
  width: auto;
  float: left;
}

.logo img {
  height: 7vh;
}

.list-item {
  float: right;
  margin-right: 2vw;
  margin-top: 2vh;
}

.list-item li {
  float: left;
  padding: 1vh 1vw;
  font-size: 18px;
  border-radius: 3px;
  transition: all .7s ease-in-out;
}

.list-item li a {
  color: #262626;
}

.list-item li:hover {
  background-color: #d9d9d9;
}

.toggle-icon {
  display: none;
}

.toggle {
  float: right;
  margin: 2vh 3vw;
  padding: 0px 1vw;
  color: #262626;
  font-size: 4vh;
  border: 1px solid #262626;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 775px) {
  .toggle-icon {
    display: block;
    width: 100%;
    height: 7vh;
    background-color: #f8f8f8;
  }
  .list-item {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    background-color: #f2f2f2;
    display: none;
  }
  .list-item li {
    text-align: center;
    display: block;
    float: none;
  }
  .list-item li:hover {
    background-color: #d9d9d9;
  }
}